<a href="https://colab.research.google.com/github/WilliansDeAlm/ExerciciosAulas/blob/master/Intelig%C3%AAnciaArtificialnaPr%C3%A1ticaParaIniciantes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Manipulçao de dados
#Visualização
#Machine Learning

import pandas as pd

In [3]:
df = pd.read_csv("KAG_conversion_data.csv")

In [12]:
df.head()

    ad_id  xyz_campaign_id  ...  Total_Conversion Approved_Conversion
0  708746              916  ...                 2                   1
1  708749              916  ...                 2                   0
2  708771              916  ...                 1                   0
3  708815              916  ...                 1                   0
4  708818              916  ...                 1                   1

[5 rows x 11 columns]

In [16]:
(df.head(), df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1143 entries, 0 to 1142
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ad_id                1143 non-null   int64
 1   xyz_campaign_id      1143 non-null   int64
 2   fb_campaign_id       1143 non-null   int64
 3   age                  1143 non-null   object
 4   gender               1143 non-null   object
 5   interest             1143 non-null   int64
 6   Impressions          1143 non-null   int64
 7   Clicks               1143 non-null   int64
 8   Spent                1143 non-null   float64
 9   Total_Conversion     1143 non-null   int64
 10  Approved_Conversion  1143 non-null   int64
dtypes: float64(1), int64(8), object(2)
memory usage: 98.4+ KB

(    ad_id  xyz_campaign_id  ...  Total_Conversion Approved_Conversion
 0  708746              916  ...                 2                   1
 1  708749              916  ...                 2                   0
 2  708771              916  ...                 1                   0
 3  708815              916  ...                 1                   0
 4  708818              916  ...                 1                   1

 [5 rows x 11 columns], None)